<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scheduler.mappers.DepartmentTimeslotMapper">

	<select id="getTimeslotByDepartment" parameterType="com.scheduler.models.Utility" resultType="com.scheduler.models.DepartmentTimeslotLinkage">
		select dept.*, ts.startTime, ts.stopTime from departmenttimeslot dept, timeslot ts where 
		dept.departmentId = #{departmentId} and dept.timeslotId = ts.timeslotId and 
		dept.capacity > (select count(appointmentId) from appointment 
		where meetingFinished = 'N' and appointmentDate = #{appointmentDate} and  
		departmentTimeId in (select departmentTimeId from departmenttimeslot 
		where departmentId = #{departmentId}));
	</select>

</mapper>