<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scheduler.mappers.DepartmentMapper">

	<select id="getDepartmentByCampus" parameterType="int" resultType="com.scheduler.models.Department">
		select departmentId, departmentName from department where campusId = #{campusId}
	</select>

</mapper>